.logo{
  padding-left: 3rem;
}
input{
  padding: 1rem 0.7em;
  font-size: 1rem !important;
}
label{
  margin-top: 1rem !important;
}
#mainTable_length select{
  padding: 1rem 1.5em;
}
ul ul{
  margin-left: 1rem;
}
ul, ol{
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.results-list {
  width: 90% !important;
}

.result{
  width: 90% !important;
}
.pa11y-warning, .pa11y-error{
  border: 1px solid black;
  padding: 5px;
}
div.pa11y-warning {
  background-color: #FFFB6D;
}
div.pa11y-error {
  background-color: #FF9BAB;
}

div.ignore-true{
  background-color: #27DF1F;
}
div.fixed-true{
  background-color: #27DF1F;
}
.summary-box {
  border: 1px solid black;
  padding: .5rem;
  margin: .5rem;
  margin-right: auto;
  margin-left: auto;
  width: 100px;
  height: 50px;
  float: left;
  text-align: center;
}

div.pagination a, div.pagination span, div.pagination em {
  border: 1px solid black;
  padding: 5px;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}
div.pagination a {
  color: #ffffff;
  background-color: blue;
}
.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

th .asc::after{
  content: " ↑";
}

th .desc::after {
  content: " ↓";
}