<!DOCTYPE html>
<html>
<head>
  <title>Pa11yrails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.11/css/jquery.dataTables.min.css">
  <script type="text/javascript" src='//code.jquery.com/jquery-2.2.1.min.js'></script>
  <script type="text/javascript" src='//cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js'></script>
</head>
<body>
  <header class="usa-site-header" role="banner">
      <nav class="usa-site-navbar">
        <div class="logo" id="logo">
          <h1>
            pa11y rails</a>
          </h1>
        </div>
        <hr>
      </nav>
  </header>
  <%= yield %>
</body>
</html>
